---
import SketchToday from "@layouts/SketchToday.astro";
import Hero from "@components/sketch-today/partials/Hero.svelte";
import * as SDContent from "@docs/sketch-today/about.md";
const { frontmatter, Content } = SDContent;

let subtitle: string = frontmatter.subtitle;
let title: string = frontmatter.title;
---

<SketchToday title="Sketch Today - About">
  <Hero {subtitle} {title} />
  <div class="flex w-full flex-col gap-6 md:w-2xl">
    <section class="flex flex-col gap-6">
      <Content />
    </section>
    <div class="note flex flex-row items-center gap-4">
      <iconify-icon
        icon="heroicons:pencil-square"
        class="flex h-6 w-6 flex-col items-center justify-center text-lg text-blue-500"
      ></iconify-icon>
      <div class="flex flex-col">
        <strong class="text-xxs">NOTE</strong>
        <p class="text-xs">
          This was conceived before AWS shit the bed the other week, and Figma went down.
        </p>
      </div>
    </div>
  </div>
</SketchToday>

<style>
  @reference "@styles/sketch-today.css";
  section {
    @apply text-main text-pretty;
    a {
      @apply underline hover:no-underline;
    }
    h3 {
      @apply text-xl font-bold;
    }
  }
  .note {
    @apply rounded-lg border border-blue-100 bg-blue-50 p-4 text-sm text-blue-950;
  }
</style>
