---
import SketchToday from "@layouts/SketchToday.astro";
import Hero from "@components/sketch-today/partials/Hero.svelte";
import CategoryFilters from "@components/sketch-today/partials/CategoryFilters.svelte";
import ResourceList from "@components/sketch-today/ResourceList.svelte";

import { getCollection, type CollectionEntry } from "astro:content";

const allResources = await getCollection("sketch-today");
const resourceList = allResources.map((entry: CollectionEntry<"sketch-today">) => entry.data);
---

<SketchToday title="Sketch Today - A collection of modern resources for Sketch.">
  <Hero />
  <div class="flex flex-col gap-8">
    <CategoryFilters client:idle />
    <ResourceList client:idle {resourceList} />
  </div>
</SketchToday>
