---
import SketchToday from "@layouts/SketchToday.astro";
import Hero from "@components/sketch-today/partials/Hero.svelte";
import CategoryFilters from "@components/sketch-today/partials/CategoryFilters.svelte";
import ResourceList from "@components/sketch-today/ResourceList.svelte";

import icons from "@data/sketch-today/icons.json";
import palettes from "@data/sketch-today/palettes.json";
import plugins from "@data/sketch-today/plugins.json";
import systems from "@data/sketch-today/systems.json";

const resourceList = [...icons, ...palettes, ...plugins, ...systems];
---

<SketchToday title="Sketch Today">
  <Hero />
  <div class="flex flex-col gap-16">
    <CategoryFilters />
    <ResourceList {resourceList} />
  </div>
</SketchToday>
