---
import DadReply from "../../layouts/DadReply.astro";
import Header from "../../components/dad-reply/Header.svelte";
import Hero from "../../components/dad-reply/Hero.svelte";
---

<DadReply title="Dad Reply - Universal Acknowledgment">
  <main class="flex flex-col max-w-[1156px] mx-auto px-6">
    <Header />
    <Hero />
  </main>
</DadReply>
