---
import IsFigmaDown from "@layouts/IsFigmaDown.astro";
import Main from "@components/is-figma-down/Main.svelte";
---

<IsFigmaDown title="is Figma down?">
  <div class="mx-4 flex h-screen items-center justify-center">
    <Main />
  </div>
</IsFigmaDown>
