---
import GlyphPalette from "@layouts/GlyphPalette.astro";
import Main from "@components/glyph-palette/Main.svelte";
---

<GlyphPalette title="Glyph Palette - A modern icon plugin for Sketch.">
  <div class="mx-auto flex max-w-full flex-col gap-36 px-4 md:max-w-6xl md:pt-0">
    <Main client:idle />
  </div>
</GlyphPalette>
