---
import "@styles/solidarity.css";

import Solidarity from "@layouts/Solidarity.astro";
import Header from "@components/solidarity/partials/Header.svelte";
import Hero from "@components/solidarity/Hero.svelte";
import How from "@components/solidarity/partials/How.svelte";
import Browser from "@components/solidarity/partials/Browser.svelte";
---

<Solidarity title="Solidarity - No one stands alone when everyone’s #opentowork">
  <Header client:idle />
  <div class="mx-[5%] flex flex-1 flex-col pb-24 xl:mx-[10%]">
    <div class="flex flex-1 flex-col gap-22">
      <Hero />
      <Browser client:load />
      <How />
    </div>
  </div>
</Solidarity>

<style>
  @reference "@styles/solidarity.css";
</style>
