---
import "@styles/solidarity.css";

import Solidarity from "@layouts/Solidarity.astro";
import Header from "@components/solidarity/partials/Header.svelte";
import Hero from "@components/solidarity/Hero.svelte";
import Browser from "@components/solidarity/partials/Browser.svelte";
import Main from "./Main.astro";
import Cards from "@components/solidarity/Cards.svelte";
---

<Solidarity title="Solidarity - No one stands alone wheneveryone’s #opentowork">
  <Header client:idle />
  <div class="mx-[5%] flex flex-1 flex-col pb-24 xl:mx-[10%]">
    <div class="flex flex-1 flex-col gap-22">
      <Hero />
      <Browser client:load />
      <!-- <section class="flex flex-col gap-11">
        <Main />
        <a
          href="https://chromewebstore.google.com/detail/ahahliplongfboaikbajdedefpoifjeb"
          target="_blank"
          class="btn flex justify-center md:hidden"
        >
          Download for Chrome
        </a>
      </section>
      <div class="sticky top-65 mt-24 h-full w-full flex-shrink-0 md:mt-48 lg:h-screen lg:w-1/3">
        <Cards client:idle />
      </div> -->
    </div>
  </div>
</Solidarity>

<style>
  @reference "@styles/solidarity.css";
</style>
