---
import GoodBoy from "@layouts/GoodBoy.astro";
import Main from "@components/good-boy/Main.svelte";
import Features from "@components/good-boy/partials/Features.svelte";
---

<GoodBoy title="GoodBoy">
  <div class="mx-[5%] flex min-h-screen flex-1 flex-col py-20">
    <Main />
    <Features />
  </div>
</GoodBoy>
