@import "tailwindcss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-geist: "Geist", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --color-primary: theme(colors.blue.600);
  --color-text: theme(colors.slate.700);
  --color-text-body: theme(colors.slate.500);
  --color-text-muted: theme(colors.slate.400);

  --breakpoint-3xl: 112rem;
}

body {
  font-family: var(--font-poppins);
  color: var(--color-text);
  &::selection {
    background: var(--color-primary);
    @apply text-white;
  }
}

h1,
h2,
h3,
h4 {
  color: var(--color-text);
  @apply font-semibold;
}

h1 {
  @apply text-[40px];
}

h3 {
  @apply text-[32px];
}

h4 {
  @apply text-2xl;
}

p {
  color: var(--color-text-body);
  @apply leading-relaxed;
}

small {
  color: var(--color-text-muted);
  @apply text-xs;
}

.the-shadow {
  box-shadow:
    0 153px 43px 0 rgba(143, 143, 143, 0),
    0 98px 39px 0 rgba(143, 143, 143, 0.01),
    0 55px 33px 0 rgba(143, 143, 143, 0.05),
    0 25px 25px 0 rgba(143, 143, 143, 0.09),
    0 6px 14px 0 rgba(143, 143, 143, 0.1);
}
