@import "tailwindcss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-sans: "nudica_monomedium", ui-monospace, SFMono-Regular;
  --font-display: "nudicamedium", ui-sans-serif, system-ui;
  --text-shadow-glow: 0 0 5px #f0b100, 0 0 15px #f0b100, 0 0 30px #f0b100,
    0 0 60px rgba(255, 0, 0, 0.5);
  --animate-flicker: flicker 3s infinite;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  2% {
    opacity: 0.9;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.1;
  }
  8% {
    opacity: 1;
  }
  22% {
    opacity: 0.8;
  }
  24% {
    opacity: 1;
  }
  42% {
    opacity: 0.9;
  }
  44% {
    opacity: 0.6;
  }
  46% {
    opacity: 1;
  }
  62% {
    opacity: 0.7;
  }
  64% {
    opacity: 1;
  }
  82% {
    opacity: 0.4;
  }
  84% {
    opacity: 1;
  }
}
