@import "./base.css";

@theme {
  /* Typography */
  --font-montserrat: "Montserrat", sans-serif;
  --font-cabinet-grotesk: "Cabinet Grotesk", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;

  /* Colors */
  --color-primary: theme(colors.blue.600);
  --color-primary-hover: theme(colors.blue.700);
  --color-header: theme(colors.gray.800);
  --color-body: theme(colors.gray.700);
  --color-muted: theme(colors.gray.500);
  --color-bg: theme(colors.stone.50);
}

@layer base {
  body {
    font-family: var(--font-satoshi);
    color: var(--color-body);
    background: var(--color-bg);
    &::selection {
      background: var(--color-primary);
      @apply text-blue-50;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--font-montserrat);
    color: var(--color-header);
    @apply font-semibold;
  }

  h1 {
    @apply text-5xl/16 font-black lg:text-6xl/21;
  }

  h2 {
    @apply text-xl font-bold md:text-5xl;
  }

  h3 {
    @apply text-lg md:text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  p {
    color: var(--color-text-body);
    @apply leading-relaxed;
    @apply text-sm md:text-base;
  }

  small {
    color: var(--color-text-muted);
    @apply text-xs;
  }
}

@layer components {
  .highlight {
    @apply rounded-xl border border-blue-700 bg-blue-600 font-bold text-blue-50 inset-ring inset-ring-blue-500 transition-colors duration-250 text-shadow-xs;
  }
}
