@import "./base.css";

@theme {
  /* Typography */
  --font-satoshi: "Satoshi", sans-serif;

  /* Colors */
  --color-primary: theme(colors.neutral.800);
  --color-primary-hover: theme(colors.rose.600);
  --color-body: theme(colors.neutral.600);
  --color-muted: theme(colors.neutral.400);
  --color-bg: theme(colors.neutral.100);
}

@layer base {
  html,
  body {
    background: var(--color-bg);
  }

  body {
    font-family: var(--font-satoshi);
    color: var(--color-body);
    &::selection {
      background: var(--color-primary);
      @apply text-white;
    }
  }

  h1 {
    color: var(--color-primary);
    @apply text-4xl leading-normal font-black tracking-tight md:text-6xl lg:text-7xl;
  }

  .downloadBtn {
    @apply flex flex-row items-center text-base font-bold transition-colors duration-300;
    @apply gap-4.5 px-5 py-4;
    @apply hover:border-primary hover:text-primary bg-neutral-900 text-white hover:bg-white;
    @apply rounded-full border-3 border-transparent hover:border-3;
  }
}
