/* Main Site Theme */
@import "./base.css";

@theme {
  /* Typography */
  --font-satoshi: "Satoshi", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-display: "nudicamedium", "Space Grotesk", ui-sans-serif, system-ui;

  /* Colors */
  --color-primary: theme(colors.gray.800);
  --color-header: theme(colors.gray.800);
  --color-body: theme(colors.gray.600);
  --color-muted: theme(colors.gray.500);
  --color-bg-main: theme(colors.stone.50);
}

.dark {
  --color-primary: theme(colors.gray.100);
  --color-header: theme(colors.gray.100);
  --color-body: theme(colors.gray.300);
  --color-muted: theme(colors.gray.400);
  --color-bg-main: theme(colors.gray.950);
}

.sunset {
  --color-primary: theme(colors.stone.900);
  --color-body: theme(colors.stone.700);
  --color-muted: theme(colors.stone.500);
  --color-text: theme(colors.orange.950);
  --color-bg-main: theme(colors.orange.50);
}

@layer base {
  body {
    background-color: var(--color-bg-main);
    font-family: var(--font-inter);
    color: var(--color-header);
    ::selection {
      background-color: var(--color-primary);
      color: var(--color-bg-main);
    }
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-satoshi);
    font-feature-settings: "ss01" 1;
    @apply text-header font-bold text-balance;
  }

  h1 {
    @apply text-4xl/12 md:text-7xl/27;
  }

  h2 {
    @apply text-3xl;
  }

  p {
    @apply lg:text-xl/relaxed;
    @apply text-pretty;
  }
}
