/* Main Site Theme - Enhanced with Layout Utilities */
@import "./base.css";

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

html[data-transitioning] [data-transition-wrapper] {
  opacity: 0;
  transform: translateY(16px);
}

@theme {
  /* Typography */
  --font-general-sans: "General Sans", sans-serif;
  --font-azeret-mono: "Azeret Mono", monospace;

  /* Colors */
  --color-primary: theme(colors.blue.600);
  --color-body: theme(colors.neutral.800);
  --color-muted: theme(colors.neutral.400);
  --color-contrast: theme(colors.blue.900);
  --color-main: theme(colors.neutral.50);
  --color-surface: theme(colors.white);
  --color-surface-border: theme(colors.neutral.200);
  --bg-pattern: url("/images/background-light.svg");
}

.dark {
  --color-primary: theme(colors.rose.500);
  --color-body: theme(colors.neutral.100);
  --color-muted: theme(colors.neutral.400);
  --color-contrast: theme(colors.white);
  --color-main: theme(colors.neutral.950);
  --color-surface: theme(colors.neutral.900);
  --color-surface-border: theme(colors.neutral.800);
  --bg-pattern: url("/images/background-dark.svg");
}

@layer base {
  body {
    background-color: var(--color-main);
    font-family: var(--font-azeret-mono);
    color: var(--color-body);
    ::selection {
      background-color: var(--color-primary);
    }
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-general-sans);
    font-feature-settings: "ss01" 1;
    @apply font-medium tracking-[-0.67px] text-balance;
  }

  h1 {
    @apply text-3xl/tight lg:text-[40px]/[48px];
  }

  h2 {
    @apply text-xl lg:text-2xl;
  }

  h3 {
    @apply text-lg lg:text-2xl;
  }

  p {
    @apply text-xs text-pretty lg:text-sm/[24px];
  }
}

.background {
  @apply bg-(image:--bg-pattern) bg-size-[25px_25px] bg-repeat;
}

/* Article-specific styling */
.article {
  @apply flex flex-col gap-6;
  blockquote {
    @apply flex flex-col gap-3 py-12 text-2xl;
    p {
      @apply font-general-sans text-lg font-semibold italic;
      ::before {
        @apply content-['\201C'];
      }
      ::after {
        @apply content-['\201D'];
      }
    }
    ul {
      li {
        @apply text-muted text-sm;
      }
    }
  }
  h2 {
    @apply text-2xl;
  }
  a {
    @apply underline;
  }
  sup {
    a {
      @apply text-xxs border-surface-border rounded-sm border px-1 py-0.5 font-semibold no-underline;
    }
  }
  .footnotes {
    ol {
      @apply flex flex-col gap-2;
      li {
        p {
          @apply text-sm;
        }
      }
    }
  }
}
