@import "./base.css";

* {
  @apply transition-all duration-200;
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --color-primary: theme(colors.amber.500);
  --color-primary-hover: theme(colors.blue.700);
  --color-header: theme(colors.gray.800);
  --color-body: theme(colors.gray.500);
  --color-muted: theme(colors.gray.400);
}

@layer base {
  html {
    background: var(--color-stone-50);
  }
  body {
    font-family: var(--font-montserrat);
    color: var(--color-body);
    font-weight: var(--font-weight-medium);
    ::selection {
      background: var(--color-primary);
      color: var(--color-header);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
    color: var(--color-header);
  }
}

@layer components {
  .resource {
    @apply flex h-full flex-col gap-3 rounded-2xl border border-stone-200 bg-white p-6;
    &.palette {
      .icon {
        @apply text-violet-500;
      }
    }
    &.icon {
      .icon {
        @apply text-orange-500;
      }
    }
    &.plugin {
      .icon {
        @apply text-pink-500;
      }
    }
    &.system {
      .icon {
        @apply text-blue-500;
      }
    }
    &.soon {
      @apply opacity-50;
    }
    &:not(.soon):hover {
      @apply border-stone-200 bg-stone-100;
    }
  }
}
