@import "tailwindcss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply transition-all duration-200;
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;

  --color-primary: theme(colors.amber.500);
  --color-primary-hover: theme(colors.blue.700);
  --color-main: theme(colors.gray.800);
  --color-body: theme(colors.gray.500);
  --color-muted: theme(colors.slate.400);

  --text-xxs: 0.6875rem;
  --text-xxs--line-height: calc(1 / 0.6875);

  --screen-sm: 40rem; /* 640px */
  --screen-md: 48rem; /* 768px */
  --screen-lg: 64rem; /* 1024px */
  --screen-xl: 80rem; /* 1280px */
  --screen-2xl: 96rem; /* 1536px */
  --screen-3xl: 112rem; /* 1792px */
}

@layer base {
  html {
    background: var(--color-stone-50);
  }
  body {
    font-family: var(--font-montserrat);
    color: var(--color-main);
  }
}
