/* TinyWave Theme */
@import "./base.css";

@theme {
  /* Typography */
  --font-satoshi: "Satoshi", sans-serif;
  --font-chillax: "Chillax", sans-serif;

  /* Colors */
  --color-primary: theme(colors.orange.500);
  --color-primary-hover: theme(colors.rose.600);
  --color-body: theme(colors.slate.900);
  --color-muted: theme(colors.slate.600);
  --color-bg: theme(colors.gray.50);
}

@layer base {
  html {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='7'%3E%3Cline x1='0' y1='5' x2='10' y2='5' stroke='%23000000' stroke-width='1' stroke-linecap='round' stroke-opacity='0.01'/%3E%3Cline x1='5' y1='0' x2='5' y2='10' stroke='%23000000' stroke-width='1' stroke-linecap='round' stroke-opacity='0.01'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-color: var(--color-bg);
  }

  body {
    font-family: var(--font-satoshi);
    color: var(--color-body);
  }

  h1 {
    @apply text-2xl font-bold;
  }

  p {
    @apply text-muted text-sm text-pretty;
  }
}

@layer components {
  .btn {
    @apply rounded-full border border-gray-200 bg-white;
    @apply cursor-pointer;
    @apply transition-all delay-100 duration-300;
    &:active {
      @apply shadow-none;
    }
  }
  .tooltip {
    @apply rounded-full border border-gray-300;
    @apply text-xxs font-bold;
    @apply px-2 py-1;
    @apply shadow-md;
  }
}
