---
import Layout from "@layouts/Layout.astro";
import Header from "@components/partials/Header.svelte";
import Footer from "@components/partials/Footer.svelte";
---

<Layout title="404">
  <div class="flex flex-1 flex-col justify-between">
    <Header client:load text="return.home" />
    <div class="flex flex-col space-y-12">
      <h1 class="text-7xl">404</h1>
      <div class="flex w-md flex-col space-y-4">
        <!-- prettier-ignore -->
        <blockquote>Guys like us, that work on ranches, are the loneliest guys in the world. They got no
          family. They don't belong no place. They come to a ranch an' work up a stake, and the
          first thing you know they're poundin' their tail on some other ranch. They ain't got
          nothing to look ahead to.
        </blockquote>
        <div class="flex flex-col space-y-12">
          <ul class="text-xxs flex flex-row gap-4 text-gray-500">
            <li class="flex items-center">
              <iconify-icon icon="carbon:notebook-reference" class="mr-2 text-base text-inherit"
              ></iconify-icon>
              <span>Of Mice and Men</span>
            </li>
            <li class="flex items-center">
              <iconify-icon icon="carbon:edit" class="mr-2 text-base text-inherit"></iconify-icon>
              <span>John Steinbeck</span>
            </li>
          </ul>
          <a href="" class="flex items-center text-xs text-lime-700 hover:text-lime-400">
            <iconify-icon icon="carbon:shopping-cart-plus" class="mr-2 text-lg text-inherit"
            ></iconify-icon>
            <span>Buy from Oxfam</span>
          </a>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</Layout>

<style>
  @reference "../styles/global.css";
  a {
    @apply transition-colors delay-100;
  }
  blockquote {
    @apply -indent-2 text-base/relaxed;
    @apply before:content-[open-quote] after:content-[close-quote];
  }
</style>
