---
import Layout from "../layouts/Layout.astro";
import financeData from "../data/finance.json";
---

<Layout title="workingon.studio - Finance">
  <div class="bg-gray-950 text-gray-100">
    <main class="min-h-screen flex items-center justify-center p-8">
      <div class="max-w-md mx-auto space-y-12">
        <div class="group space-y-12">
          <div>
            <h1 class="text-base font-display cursor-default inline-block">
              finance<span class="text-xs text-yellow-300 text-shadow-glow motion-safe:animate-flicker sm:text-gray-500 sm:text-shadow-none sm:motion-safe:animate-none sm:group-hover:text-shadow-glow sm:group-hover:text-yellow-300 sm:group-hover:motion-safe:animate-flicker">.log</span>
            </h1>
          </div>
          <div class="space-y-12 font-sans leading-6">
            <div class="flex flex-col">
              <div class="space-y-4">
                <span class="text-sm text-gray-600 text-[10px]">Current Balance</span>
                <h3 class="text-2xl text-red-500">-£111.99</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>
