---
import Layout from "../layouts/Layout.astro";
import Header from "../components/partials/Header.svelte";
import Footer from "../components/partials/Footer.svelte";
import Timeline from "../components/Timeline.svelte";
import timelineData from "../data/timeline.json"
---

<Layout title="workingon.studio">
  <div class="bg-gray-950 flex flex-1 flex-col justify-between text-gray-100">
    <Header text="progress.log" client:load />
      <div class="p-8">
        <Timeline {timelineData} />
      </div>
    <Footer />
  </div>
</Layout>
