---
import "../styles/dad-reply.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="A creative studio producing cultural mirror products" />
    <meta name="theme-color" content="#030712" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/180e1f6a33.js" crossorigin="anonymous"></script>
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body class="text-slate-700 selection:bg-blue-600 selection:text-white">
    <slot />
  </body>
</html>
