---
import "../styles/dad-reply.css";

import Analytics from "./partials/Analytics.astro";
import { AstroSeo } from "@astrolib/seo";
import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const longTitle = title + " - workingon.studio";
const currentURL = new URL(Astro.url.pathname, Astro.site).href;
---

<html lang="en" class="scroll-smooth bg-white">
  <head>
    <meta charset="UTF-8" />
    <AstroSeo
      title={longTitle}
      description="Instantly reply to your emails with minimal effort and maximum dad energy."
      canonical={currentURL}
      openGraph={{
        url: currentURL,
        title: title,
        description: "Instantly reply to your emails with minimal effort and maximum dad energy.",
        images: [
          {
            url: Astro.site + "dad-reply/opengraph/site-default.png",
            height: 630,
            width: 1200,
            alt: "Dad Reply - Email replies without the email part",
          },
          {
            url: Astro.site + "dad-reply/opengraph/site-square.png",
            height: 1200,
            width: 1200,
            alt: "Dad Reply - Email replies without the email part",
          },
          {
            url: Astro.site + "dad-reply/opengraph/site-minimum.png",
            height: 315,
            width: 600,
            alt: "Dad Reply - Email replies without the email part",
          },
        ],
        site_name: "dadreply.com",
        type: "website",
      }}
      twitter={{
        cardType: "summary_large_image",
        handle: "@prmack",
      }}
      ,
      additionalMetaTags={[
        {
          name: "twitter:image",
          content: "dad-reply/opengraph/site-square.png",
        },
        {
          name: "twitter:url",
          content: "https://dadreply.com",
        },
      ]}
    />
    <meta name="theme-color" content="#FFFFFF" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/dad-reply/favicon.png" />
    <Font cssVariable="--font-geist" preload />
    <Font cssVariable="--font-poppins" preload />
    <Font cssVariable="--font-roboto" preload />

    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded"
      rel="stylesheet"
    />
    <script
      is:inline
      type="module"
      src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"
    >
    </script>
    <script is:inline src="https://kit.fontawesome.com/180e1f6a33.js" crossorigin="anonymous"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <Analytics productName="Dad Reply" />
    <ClientRouter />
  </head>
  <body id="top">
    <slot />
  </body>
</html>
