---
import "../styles/dad-reply.css";

import Analytics from "./partials/Analytics.astro";
import { AstroSeo } from "@astrolib/seo";
import { ClientRouter } from "astro:transitions";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const currentURL = new URL(Astro.url.pathname, Astro.site).href;
---

<html lang="en" class="scroll-smooth bg-white">
  <head>
    <AstroSeo
      {title}
      description="Instantly reply to your emails with minimal effort and maximum dad energy."
      canonical={currentURL}
      ,
      openGraph={{
        url: currentURL,
        title: title,
        description: "Instantly reply to your emails with minimal effort and maximum dad energy.",
        images: [
          {
            url: Astro.site + "dad-reply/dad-reply-default-opengraph.png",
            height: 600,
            width: 1200,
          },
          {
            url: Astro.site + "dad-reply/dad-reply-square-opengraph.png",
            height: 1080,
            width: 1080,
          },
        ],
        site_name: "workingon.studio",
      }}
    />
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#FFFFFF" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/dad-reply/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded"
      rel="stylesheet"
    />
    <script
      is:inline
      type="module"
      src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"
    ></script>
    <script is:inline src="https://kit.fontawesome.com/180e1f6a33.js" crossorigin="anonymous">
    </script>
    <meta name="generator" content={Astro.generator} />
    <Analytics productName="Dad Reply" />
    <ClientRouter />
  </head>
  <body id="top">
    <slot />
  </body>
</html>
