---
import "../styles/glyph-palette.css";

import Analytics from "./partials/Analytics.astro";
import { AstroSeo } from "@astrolib/seo";
import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const longTitle = title + " - workingon.studio";
const currentURL = new URL(Astro.url.pathname, Astro.site).href;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <AstroSeo
      title={longTitle}
      description="Bring 100’s of modern icon sets directly to into your .sketch files, with full control over size, stroke, and color."
      canonical={currentURL}
      openGraph={{
        url: currentURL,
        title: title,
        description:
          "Bring 100’s of modern icon sets directly to into your .sketch files, with full control over size, stroke, and color.",
        images: [
          {
            url: Astro.site + "glyph-palette/opengraph/site-default.webp",
            height: 630,
            width: 1200,
          },
          {
            url: Astro.site + "glyph-palette/opengraph/site-square.webp",
            height: 1080,
            width: 1080,
          },
          {
            url: Astro.site + "glyph-palette/opengraph/site-minimum.webp",
            height: 315,
            width: 600,
          },
        ],
        site_name: "glyphpalette.com",
        type: "site",
      }}
      ,
      twitter={{
        cardType: "summary_large_image",
        handle: "@prmack",
      }}
      ,
      additionalMetaTags={[
        {
          name: "twitter:image",
          content: Astro.site + "glyph-palette/opengraph/site-default.webp",
        },
        {
          name: "twitter:url",
          content: "https://glyphpalette.com",
        },
      ]}
    />
    <meta name="theme-color" content="#FAFAF9" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href="/glyph-palette/favicon.svg" />
    <link rel="icon" type="image/png" href="/glyph-palette/favicon.png" />
    <Font cssVariable="--font-cabinet-grotesk" preload />
    <Font cssVariable="--font-satoshi" preload />
    <script
      is:inline
      type="module"
      src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"
    >
    </script>
    <script is:inline src="https://kit.fontawesome.com/180e1f6a33.js" crossorigin="anonymous"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <Analytics productName="Glyph Palette" />
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
