---
import "../styles/sketch-today.css";
import BaseLayout from "./BaseLayout.astro";
import { Font } from "astro:assets";

import Header from "@components/sketch-today/Header.svelte";
import Footer from "@components/sketch-today/Footer.svelte";

interface Props {
  title: string;
  category?: string;
  slug?: string;
}

const { title, category, slug } = Astro.props;
const currentURL = new URL(Astro.url.pathname, Astro.site).href;
---

<BaseLayout
  productName="Sketch Today"
  seo={{
    title,
    description: "A collection of modern resources for Sketch.",
    canonical: currentURL,
    ogImage: `${Astro.site}sketch-today/opengraph/site-default.webp`,
    ogImageAlt: "Sketch Today - A collection of modern resources for Sketch",
    siteName: "sketchto.day",
    twitterUrl: "https://sketchto.day",
  }}
  meta={{
    themeColor: "#030712",
    statusBarStyle: "black-translucent",
    htmlClass: "dark",
    adaptiveFavicons: {
      light: "/sketch-today/favicon-light.svg",
      dark: "/sketch-today/favicon-dark.svg",
    },
  }}
>
  <Font slot="head" cssVariable="--font-montserrat" preload={[{ weight: 400 }, { weight: 700 }]} />

  <main class="mx-[5%] flex min-h-screen flex-col gap-12 pt-9 md:mx-[10%]">
    <div class="flex flex-1 flex-col">
      <Header {category} {slug} client:idle />
      <slot />
    </div>
    <Footer />
  </main>
</BaseLayout>
