---
import SketchToday from "@layouts/SketchToday.astro";
import Header from "@components/sketch-today/Header.svelte";

import resources from "@data/sketch-today/palettes.json";

export async function getStaticPaths() {
  return resources.map((resource) => ({
    params: { category: resource.category, slug: resource.slug },
    props: { resource },
  }));
}

const { category, slug } = Astro.params;
const { resource } = Astro.props;
const capitalizedCategory = category.charAt(0).toUpperCase() + category.slice(1);
---

<SketchToday title={"Sketch Today - " + capitalizedCategory}>
  <div class="flex w-full flex-col">
    <Header />

    <div class="flex py-18">
      <div class="flex flex-col gap-8">
        <div class="flex flex-col items-start gap-3">
          <div class="icon flex rounded-sm bg-violet-100 p-1">
            <iconify-icon icon="heroicons:swatch-16-solid" class="text-gray-800"></iconify-icon>
          </div>
          <h1>{resource.title}</h1>
          <p class="text-body text-lg">The most up-to-date color variables.</p>
        </div>
        <div class="text-main flex w-2xl flex-col text-base/relaxed">
          <p>
            What took me a few hours will now take you just a click (or two). Grab this library to
            use the lastest tailwind colors in Sketch.
          </p>
        </div>
        <div class="flex flex-row gap-6">
          <a href="/" class="hover:text-main bg-main flex flex-row items-center gap-3 text-white">
            <iconify-icon icon="heroicons:arrow-down-tray-16-solid" class="text-base"
            ></iconify-icon>
            <span>Download</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</SketchToday>

<style>
  @reference "@styles/sketch-today.css";
  h1 {
    @apply text-4xl;
  }
  a {
    @apply rounded-lg px-3 py-3 text-xs font-semibold hover:bg-stone-100;
  }
</style>
