---
import SketchToday from "@layouts/SketchToday.astro";
import iconsData from "@data/sketch-today/icons.json";
import palettesData from "@data/sketch-today/palettes.json";
import systemsData from "@data/sketch-today/systems.json";
import pluginsData from "@data/sketch-today/plugins.json";

export async function getStaticPaths() {
  const resourceList = [...iconsData, ...palettesData, ...systemsData, ...pluginsData];

  return resourceList.map((resource) => ({
    params: { category: resource.category, slug: resource.slug },
    props: { resource },
  }));
}

const { category } = Astro.params;
const { resource } = Astro.props;
const capitalizedCategory = category!.charAt(0).toUpperCase() + category!.slice(1);

let iconset: string = "heroicons:";
let icon: string = "";
let bgColor: string = "";

switch (resource.type) {
  case "icon":
    icon = iconset + "square-2-stack-16-solid";
    bgColor = "bg-orange-100";
    break;
  case "palette":
    icon = iconset + "swatch-16-solid";
    bgColor = "bg-violet-100";
    break;
  case "plugin":
    icon = iconset + "squares-plus-16-solid";
    bgColor = "bg-pink-100";
    break;
  case "system":
    icon = iconset + "cube-transparent-16-solid";
    bgColor = "bg-blue-100";
    break;
}

if (!resource.released) {
  bgColor = "bg-stone-200";
}
---

<SketchToday title={"Sketch Today - " + capitalizedCategory}>
  <div class="flex py-18">
    <div class="flex flex-col gap-8">
      <div class="flex flex-col items-start gap-3">
        <div class={`icon ${bgColor} flex rounded-sm p-1`}>
          <iconify-icon icon={icon} class="text-gray-800"></iconify-icon>
        </div>
        <h1>{resource.title}</h1>
        <p class="text-body text-lg">{resource.description}</p>
      </div>
      <div class="text-main flex w-2xl flex-col text-base/relaxed">
        <p>
          What took me a few hours will now take you just a click (or two). Grab this library to use
          the lastest tailwind colors in Sketch.
        </p>
      </div>
      <div class="options flex flex-row gap-3">
        <a href="/" class="hover:text-main bg-main flex flex-row text-white">
          <!-- prettier-ignore -->
          <iconify-icon icon="heroicons:arrow-down-tray-16-solid" class="text-base"></iconify-icon>
          <span>Download</span>
        </a>
        <a href="/" class="hover:text-main text-main flex flex-row">
          <!-- prettier-ignore -->
          <iconify-icon icon="heroicons:arrow-top-right-on-square-16-solid" class="text-base"></iconify-icon>
          <span>Workspace</span>
        </a>
        <a href="/" class="hover:text-main text-main flex flex-row">
          <!-- prettier-ignore -->
          <iconify-icon icon="heroicons:code-bracket-16-solid" class="text-base"></iconify-icon>
          <span>Github</span>
        </a>
        <a href="/" class="hover:text-main text-main flex flex-row">
          <!-- prettier-ignore -->
          <iconify-icon icon="heroicons:link-16-solid" class="text-base"></iconify-icon>
          <span>tailwind.com</span>
        </a>
        <a href="/" class="hover:text-main text-main flex flex-row">
          <!-- prettier-ignore -->
          <iconify-icon icon="heroicons:share-16-solid" class="text-base"></iconify-icon>
          <span>Share</span>
        </a>
      </div>
    </div>
  </div>
</SketchToday>

<style>
  @reference "@styles/sketch-today.css";
  h1 {
    @apply text-4xl;
  }
  a {
    @apply items-center gap-3 rounded-lg px-3 py-3 text-xs font-semibold transition-colors duration-300 hover:bg-stone-100;
  }
</style>
